<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Rule</title>
    <link rel="stylesheet" href="Css/style2.css">
    <script src="{% static 'js/create-rule.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/create-rule.css' %}">
</head>

<body>
    <div class="container">
        <div class="mid-card">
            <div class="btn-grp">
                <div class="btn-grp-left">
                    <img src="{% static 'img/back.png' %}" alt="">
                </div>
                <div class="btn-grp-right">
                    <button id="prevBtn" onclick="prevSlide()">Previous</button>
                    <button id="nextBtn" onclick="nextSlide()">Next</button>
                </div>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="slider">
                    <div class="slides" id="slides">
                        <div class="slide">
                            <div class="slide-main-hd">
                                <h1>Select what you want to hide</h1>
                            </div>
                            <div class="option-box-card">

                                <input type="radio" name="rule_type" id="shipping" value="hide_shipping">
                                <label for="shipping" class="option-box">
                                    <div class="option-box-cnt">
                                        <img src="{% static 'img/delivery.png' %}">
                                        <p>Shipping options</p>
                                    </div>
                                </label>

                                <input type="radio" name="rule_type" id="payment" value="hide_payment">
                                <label for="payment" class="option-box">
                                    <div class="option-box-cnt">
                                        <img src="{% static 'img/payment.png' %}">
                                        <p>Payment options</p>
                                    </div>
                                </label>

                                <input type="radio" name="rule_type" id="cod" value="hide_cod">
                                <label for="cod" class="option-box">
                                    <div class="option-box-cnt">
                                        <img src="{% static 'img/cod.png' %}">
                                        <p>Cod options</p>
                                    </div>
                                </label>

                            </div>
                        </div>

                        <div class="slide">
                            <div class="slide-main-hd">
                                <h1>Name your rule</h1>
                            </div>
                            <div class="option-input-card">
                                <div class="input-wrapper">
                                    <input id="ruleInput" type="text" name="name" placeholder="Enter rule name here"
                                        maxlength="50">
                                    <span id="charCount">50</span>
                                </div>
                            </div>
                        </div>

                        <div class="slide">
                            <div class="slide-main-hd">
                                <h1>Set conditions for rule</h1>
                            </div>

                            <div class="option-input-grp">
                                <div class="option-input-set">
                                    <div class="option-input-set-hd">
                                        <h1>Hide</h1>
                                    </div>
                                    <div class="option-input-set-fields">
                                        <select name="shipping_method">
                                            {% for m in methods %}
                                            <option value="{{ m }}">{{ m }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="text" name="payment_method" placeholder="Enter your payment method"
                                            id="" style="display:none;">
                                    </div>
                                    <div class="option-input-set-notice">
                                        <p>Type exact method on your checkout</p>
                                    </div>
                                </div>

                                <br>
                                <br>

                                <div class="option-input-set">
                                    <div class="option-input-set-hd">
                                        <h1>When</h1>
                                    </div>
                                    <div class="option-input-set-fields">
                                        <select name="condition_type">
                                            <option value="IN">All of the following (And)</option>
                                            <option value="US">Any of the following (Or)</option>
                                        </select>
                                    </div>
                                    <div class="option-input-set-notice">
                                        <p>Select the operator</p>
                                    </div>
                                </div>

                                <br>
                                <br>

                                <div class="option-input-set">
                                    <div class="option-input-set-hd">
                                        <h1>Condition meet</h1>
                                    </div>
                                    <div class="option-input-set-fields">
                                        <div class="input-grp grid-two">
                                            <input type="number" step="0.01" name="min_cart_value"
                                                placeholder="Min cart value">
                                            <select name="region">
                                                <option value="">All Regions</option>
                                                <option value="IN">India</option>
                                                <option value="US">United States</option>
                                                <option value="CA">Canada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="option-input-set-notice">
                                        <p>Select the condition to apply</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slide">
                            <div class="overview-channel flex-center">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia animi cum ratione
                                    earum facilis fugiat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

</html>